<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Katya Perrott art</title>
    <!-- css files -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/main2.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-top clearfix">
            <h1 class="pull-left logo">
				<a href="#hero">Katya Perrott art</a>
			</h1>
			<a class="pull-right toggle-menu" href="#">
			<i></i><i></i><i></i>
			</a>
        </div>
        <nav class="nav">
            <ul id="menu">
                <li data-menuanchor="interior-design">
                    <a href="#interior-design" title="Interior design">Interior design</a>
                </li>
                <li data-menuanchor="drawings">
                    <a href="#drawings" title="Drawings">Drawings</a>
                </li>
                <li data-menuanchor="mosaic">
                    <a href="#mosaic" title="Mosaic">Mosaic</a>
                </li>
                <li data-menuanchor="photo-inspiration">
                    <a href="#photo-inspiration" title="">Photo inspiration</a>
                </li>
                <li data-menuanchor="sketch">
                    <a href="#sketch" title="Sketch">Sketch</a>
                </li>
                <li data-menuanchor="contact-me">
                    <a href="#contact-me" title="Contact me">Contact me</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="fullpage">
        <section class="vertical-scrolling">
            <div class="row">
                <div class="container">
                    <div class="col-sm-6">
                        <h3 class="headline">If you ask me what I came to do in this world, I, an artist, will answer you: I am here to live out loud". - Emile Zola.</h3>
                        <p>I came to this world to enjoy and study life lessons, to meet new people every day and learn from them, to draw the world in colors and shapes how I see it; to make beautiful things that became important to me and others, and that has own space in a heart; to make space comfortable and different and the house make a home; I came to laugh, cry and love, and share it with others. This is ART and ART are my life.</p>
                    </div>
                    <div class="col-sm-6">
                        <img src="images/katya.jpg" alt="Katya Perrot">
                    </div>
                     <% include ../partials/quotes.ejs %>
                </div>
            </div>
        </section>
        <section class="vertical-scrolling">
            <div class="horizontal-scrolling slide">
                <h2>Interior design</h2>
            </div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art interior design" src="images/Interior-design/interior-1.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art interior design" src="images/Interior-design/interior-2.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art interior design" src="images/Interior-design/interior-3.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art interior design" src="images/Interior-design/interior-4.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art interior design" src="images/Interior-design/interior-5.jpg"></div>
        </section>
        <section class="vertical-scrolling">
            <div class="horizontal-scrolling slide">
                <h2>Drawings</h2>
            </div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-1.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-2.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-3.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-4.jpg"></div>
			<div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-5.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-6.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-7.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-8.jpg"></div>
			<div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-9.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-10.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-11.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art drawings" src="images/Drawings/drawings-12.jpg"></div>
		</section>
        <section class="vertical-scrolling">
            <div class="horizontal-scrolling slide">
                <h2>Mosaic</h2>
            </div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art mosaic" src="images/Mosaic/mosaic-1.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art mosaic" src="images/Mosaic/mosaic-2.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art mosaic" src="images/Mosaic/mosaic-3.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art mosaic" src="images/Mosaic/mosaic-4.jpg"></div>
        </section>
        <section class="vertical-scrolling">
            <div class="horizontal-scrolling slide">
                <h2>Photo inspiration</h2>
            </div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-1.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-2.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-3.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-4.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-5.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-6.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art photo inspiration" src="images/Inspirational/inspirational-7.jpg"></div>
        </section>
        <section class="vertical-scrolling">
            <div class="horizontal-scrolling slide">
                <h2>Sketch</h2>
            </div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art sketch" src="images/Sketches/sketches-1.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art sketch" src="images/Sketches/sketches-2.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art sketch" src="images/Sketches/sketches-3.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art sketch" src="images/Sketches/sketches-4.jpg"></div>
            <div class="horizontal-scrolling slide"><img alt="Katya Perrot art sketch" src="images/Sketches/sketches-5.jpg"></div>
        </section>
        <section class="vertical-scrolling">
            <h2>Contact me</h2>
            <form action=receive.php method=POST class="form" role="form">
                <div class="row">
                    <div class="container">
                        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="name">Email</label>
                                <input type="email" name="email" id="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div><!-- js files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js">
    </script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js">
    </script> 
    <script src="js/main.js">
    </script>
</body>
</html>
